{% extends "review_app/base.html" %}
{% block content %}    
    <h1>About Page</h1>
    <div class="content-section">
        <h4>Our Team:</h4>
        <ul>
            <li>Andrei Santoma</li>
            <li>Dragos Tudorut</li>
            <li>Denisa Urcan</li>
        </ul>
        <hr>
        <h4>The idea behind this project:</h4>
        <p>We make this app for all the movie lovers who want to have their own reviews about difrent movies on their 
            personal profile where everyone can see it and to let the people decide in their own opinion what rating should
            a movie have</p>
        <hr>
        <h4>Some insight about this project:</h4>
        <p>We make this app using Python and Django for an university project</p>
    </div>
{% endblock content %}