{% extends "review_app/base.html" %}
{% block content %}
    {% for movie in movies %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
            <h2><a class="article-title" href="#">{{ movie.title }}</a></h2>
            <small class="text-muted">Year: {{ movie.year}} <br> {{movie.runtime}} min</small>
            </div>
            <h6>IMDB Rating {{ movie.rating }}</h6>
            <p class="article-content"><b>Genres:</b><br>{{ movie.genres }}</p>
        </div>
    </article>
    {% endfor %}
{% endblock content %}