
{% extends "review_app/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>
      <!-- FORM HERE -->
    </div>
    <div class="content-section">
    <h4>Search for movie</h4>
    <input type="text" id="movie">
    <button name="Search" type="submit" onclick="">Search</button>
    </div>

    <div class="content-section">
        {% for movie in user.profile.movies_list %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                <h2><a class="article-title" href="#">{{ movie.title }}</a></h2>
                <small class="text-muted">Year: {{ movie.year}} <br> {{movie.runtime}} min</small>
                </div>
                <h6>Your rating: {{ movie.rating }}</h6>
                <p class="article-content"><b>Genres:</b><br>{{ movie.genres }}</p>
            </div>
        </article>
        {% endfor %}
    </div>
{% endblock content %}